.container {
    flex-direction: column;
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}

.title {
    width: 200px;
    font-size: 30px;
    text-align: center;
}


.title {
    width: 400px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    animation-name: aniname;
    animation: aniname;
}

@keyframes aniname {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.txt2 {
    width: 400px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.txt3 {
    width: 400px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: #ffa500;
}

.btn {
    width: 300px;
    height: 50px;
    font-size: 38px;
    background-color: #000000;
    border-color: #000000;
    margin-top: 40px;
}
